.nav .nav-item {
    width: 100px;
    text-align: center;
}
.nav .nav-link.active {
    color: #fff !important;
}
.fa-eye {
    padding: 0;
}
.btn-primary {
    padding: 5px;
}
.form-check {
    padding-left: 75px;
}
#menu {
    margin-top: 30px;
    display: none;
}
.alert{
    display: none;
}